<h1>Create your own recepie</h1>
<form method="post" action="/newDish">
    <br>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">title</span>
        <input type="text" name = "dish" class="form-control" placeholder="Name of the recepie" aria-label="title" aria-describedby="basic-addon1">
      </div>
    <br>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Reference</span>
        <input type="text" name = "url" class="form-control" placeholder="Paste the reference page/video for your dish" aria-label="url" aria-describedby="basic-addon1">
      </div>
      <br>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Image for the recepie</span>
        <input type="text" name = "image" class="form-control" placeholder="url link to the image of your page" aria-label="url" aria-describedby="basic-addon1">
      </div>
      <br>
      <div class="form-floating mb-3">
        <input type="text" name = "desc" class="form-control" id="floatingInput" placeholder="Enter your notes/steps for the recepie">
        <label for="floatingInput">Instructions</label>
      </div>
      <br>
      <div class="form-floating">
        <input type="text" name = "ingre" class="form-control" id="floatingPassword" placeholder="Ingredients">
        <label for="floatingPassword">List the ingredient, separated by ","</label>
      </div>
      <br>
    <input type="submit">
</form>


    


