<h1>Create your own recepie</h1>
<form method="post" action="/newDish">
    name of the recepie: <input type="text" name="dish" />
    <br />
    description of process: <input type="text" name="desc" />
    <br />
    references: <input type="text" name="url" />
    <br />
    <input type="submit">
</form>


    


