<h1 class="bg-dark" style="--bs-bg-opacity: .05;">Oriana Chen</h1>
<p>Welcome to my Bio!</p>
<br>
<div class="bg-secondary" style="--bs-bg-opacity: .03;">
    <br>
    <div class = "hstack gap-3">
        <img src = "http://prts.wiki/images/a/aa/Npc_doctor.png"  width = 33% alt = "Personal photo (from Arknights)"> 
        <div class="vstack gap-3">
            <hr>
            <h3>About Me</h3>
            <ul>
                <li> Brandeis 2023</li>
                <li> Biochemistry - Computer Science Double Major</li>
                <li> Skills: Cooking | Graphic Design | Video Games | Drums</li>
            </ul>
            <hr>
            <table class = "table table-borderless table-hover">
                <thead class = "table-light">
                    <tr>
                        <th scope="col"> Java</th>
                        <th scope="col"> Python</th>
                        <th scope="col"> C++</th>
                        <th scope="col"> Matlab</th>
                        <th scope="col"> PS/AI</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td> <img src = "https://s3.bmp.ovh/imgs/2022/06/12/8b12c4e0f9acb12c.jpg" width = 8% alt = "Yes"></td>
                        <td> <img src = "https://s3.bmp.ovh/imgs/2022/06/12/8b12c4e0f9acb12c.jpg" width = 8% alt = "Yes"></td>
                        <td> <img src = "https://s3.bmp.ovh/imgs/2022/06/12/ee8de681c1283532.jpg" width = 8% alt = "No"></td>
                        <td> <img src = "https://s3.bmp.ovh/imgs/2022/06/12/ee8de681c1283532.jpg" width = 8% alt = "No"></td>
                        <td> <img src = "https://s3.bmp.ovh/imgs/2022/06/12/8b12c4e0f9acb12c.jpg" width = 8% alt = "Yes"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
</div>



