<% for (ingre of Ingredients){%>
    <%= ingre.ingre %>
<% } %>
<form method="post" action="/addIngre">
    <h3>Ingredients</h3>
    Dish: <input type="text" name="dish"> <br>
    new Ingre: <input type="text" name="ingre"> <br>
    <input type="submit">
</form>