<div class="vstack gap-3">
    <h1 class = "display-3">Home</h1>
    <hr>
    <div class = "vstack gap-3 align-items-center">
        <img src="<%= user.avatar%>" class="rounded-circle shadow-4"
        style="width: 150px;" alt="Avatar" />
        <h5>Welcome, <%= user.profilename %> !</h5>
    </div>
    <hr>

    <div class = "d-flex flex-row gap-5  align-items-center">
        <div class="card  align-items-center" style="width: 18rem;">
            <img src="https://www.creativefabrica.com/wp-content/uploads/2021/06/22/Favorite-Web-Site-Icon-Graphics-13706676-1-1-580x386.jpg" class="card-img-top" alt="see my Favorites">
            <div class="card-body">
                <h5 class="card-title">My favorites</h5>
                <a href="/mylikes" class="btn btn-dark">Go</a>
            </div>
        </div>
        <div class="card align-items-center" style="width: 18rem;">
            <img src="https://www.creativefabrica.com/wp-content/uploads/2021/06/22/document-icon-paper-file-icon-Graphics-13733388-1-1-580x386.jpg" class="card-img-top" alt="My Recipes">
            <div class="card-body">
                <h5 class="card-title">My Recipes</h5>
                <a href="/myDish" class="btn btn-dark">Go</a>
            </div>
        </div>
        <div class="card align-items-center" style="width: 18rem;">
            <img src="https://www.creativefabrica.com/wp-content/uploads/2021/06/22/Article-Blog-Icon-Graphics-13706739-1-1-580x386.jpg" class="card-img-top" alt="My Recipes">
            <div class="card-body">
                <h5 class="card-title">Add new recipe</h5>
                <a href="/newDish" class="btn btn-dark">Go</a>
            </div>
        </div>
        <div class="card align-items-center" style="width: 18rem;">
            <img src="https://www.creativefabrica.com/wp-content/uploads/2021/06/22/Appointment-Calendar-Icon-Graphics-13706936-1-1-580x386.jpg" class="card-img-top" alt="Shopping List">
            <div class="card-body">
                <h5 class="card-title">Shopping List</h5>
                <a href="/shopping" class="btn btn-dark">Go</a>
            </div>
        </div>
    </div>



</div>
