<div class="hstack gap-3">
  <h1 class = "display-3">Home</h1>
  <p class = "ms-auto">Welcome!</p>
</div>
<hr>
<div class = "vstack gap-3 align-items-center">
  <img src="https://media.istockphoto.com/vectors/cute-ghost-icon-silhouette-vector-id859891056?k=6&m=859891056&s=612x612&w=0&h=2_phi-weg0t0lJYULtwsaLBbQe8U57GaeVRKyqSO5Hw=" class="rounded-circle shadow-4"
  style="width: 150px;" alt="Avatar" />
  <p>Welcome, Someone !</p>
  <hr>
  <h3 class = "display-6"> <a href = /lookup> Search</a> for some recipe or <a href = /login> Login</a> to have more service</h3>
</div>

