

<div class="hstack gap-3">
  <h1 class = "display-3">Home</h1>
  <p class = "ms-auto">Welcome!</p>
</div>
<div class = "">
  <img src="<%= user.avatar>" class="rounded-circle mb-3" style="width: 150px;"
    alt="Avatar" />

  <h5 class="mb-2"><strong><%= user.profilename></strong></h5>
</div>
