

    <div class="row">
      
        <div class="col-sm-5">
            <h2>Login</h2>
            <br>
            <form method="post" action="/login">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" autocomplete="username" name="username" id="floatingInput" placeholder="username for login">
                    <label for="floatingInput">Username</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" autocomplete="passphrase" name="passphrase" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <br>
                <input type="submit">
            </form>
        </div>
      
        <div class="col-sm-2" style="text-align:center">
            OR
        </div>
      
        <div class="col-sm-5">
            <h2>Signup</h2>
            <br>
            <form method="post" action="/signup">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" autocomplete="username" name="username" id="floatingInput" placeholder="username for login">
                    <label for="floatingInput">Username</label>
                </div>
                <br>
                <div class="form-floating">
                <input type="password" name="passphrase" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
                </div>
                <br>
                <div class="form-floating">
                <input type="password" name="passphrase2" class="form-control" id="floatingPassword2" placeholder="Password2">
                <label for="floatingPassword">Repeat Password</label>
                </div>
                <br>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="profilename" id="floatingInput" placeholder="ProfileName">
                    <label for="floatingInput">Enter your name for the profile</label>
                </div>
                <br>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="avatar" id="floatingInput" placeholder="avatar">
                    <label for="floatingInput">Paste the link of a img that you use as the avatar</label>
                </div>
                <br>
                <input type="submit">
            </form>
        </div>
    </div>

