<h1>Search by keyword</h1>
<hr>

<form method = "post" action="/lookup">
    Enter the keyword for the recepie you're looking for <br>
    <div class = "hstack gap-5">
        <input type="text" name="keyword" >
    </div>
    
    <hr>
    <input type="submit" >
</form>
