<h1>Search by keyword</h1>
<hr>

<form method = "post" action="/lookup">
    Enter the keyword for the movie/tv you're looking for <br>
    <input type="text" name="keyword" >
    <hr>
    <input type="submit" >
</form>
