<ul class="list-group">
    <% for(dish of dishes) {%>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class = "vstack gap-2">
                <h3><%= dish.title %> </h3>
                <h5>Ingredients:</h5>
                <% for(ingredient of dish.ingredients) {%>
                        | <%= ingredient.name %>
                <% } %>
                <br>
                <a href="/detail/<%= dish.dishId%>" class="btn btn-outline-success">See More</a>
            </div>
            <div class="col-md-2">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#remove">
                    Remove From Favorites
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="remove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Hint</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Are you sure to remove this recepie from the list?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a href="/deletelikes/<%= dish.dishId%>" class="btn btn-primary">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    <% } %>
  </ul>


  